---
import Icon from "astro-icon";

import popularCourses from "../../../data/popular-courses.json";
import Title from "../../../components/ui/Title.astro";
import CourseCard from "../../../components/course-card/CourseCard.astro";
---

<section class="mx-auto max-w-screen-xl p-4">
  <Title TitleTag="h2" text="Most popular courses" />
  <ul class="flex flex-wrap items-center justify-evenly gap-8">
    {
      popularCourses.map((course) => (
        <li class="self-stretch">
          <CourseCard course={course} />
        </li>
      ))
    }
  </ul>
</section>
