---
import Icon from "astro-icon";

import popularCourses from "../../../data/popular-courses.json";
import Title from "../../../components/ui/Title.astro";
import CourseCard from "../../../components/course-card/CourseCard.astro";
---

<section class="mx-auto max-w-screen-xl p-4">
  <Title TitleTag="h2" text="Most popular courses" />
  <ul
    class="grid grid-cols-[repeat(auto-fill,minmax(380px,1fr))] items-center gap-8"
  >
    {
      popularCourses.map((course) => (
        <li class="self-stretch">
          <CourseCard course={course} />
        </li>
      ))
    }
  </ul>
</section>
