---
import { CategoriesCarousel } from "../../../components/categories-carousel/CategoriesCarousel.tsx";
import Title from "../../../components/ui/Title.astro";
---

<section>
  <Title TitleTag="h2" text="Choose your favorite course from top categories" />
  <CategoriesCarousel client:only />
</section>
