---
import Icon from "astro-icon";

interface Props {
  text: string;
  iconName: string;
}

const { text, iconName } = Astro.props;
---

<li
  class="flex items-center space-x-2 rounded-2xl bg-primary-soft/75 p-4 transition-colors hover:bg-primary-soft"
>
  <span class="rounded-full bg-primary p-2">
    <Icon name={iconName} size="24" class="aspect-square" />
  </span>
  <span class="capitalize">{text}</span>
</li>
